$(".comment-table").append(<%=j render partial: 'comments/comment', locals: {comment => @comment}  %>);
$("#flashbox").append("<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times</button>That\'s not going to work.</div>");
