<%= form_for @comment do |f| %>
	<p>
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</p>
	<p><%= f.submit "Submit changes", :class => 'btn btn-success btn-large' %></p>
<% end %>
