<%- model_class = @group.class -%>
<h1>Edit <%= @group.name %></h1>
<%= render :partial => 'form' %>

<% if @group.auth_attribute != '*' || @group.memberships.count == 0 %>
	<% content_for :sidebar do %>
		<li><%= link_to "Delete Group", @group, :method => 'delete', :confirm => "Really delete #{@group.name}?" %></li>
	<% end %>
<% end %>

