<h1>Asset Types</h1>
<table class="table table-striped datatableable">
  <thead>
    <tr>
	    <th>Name</th>
	    <th>Asset Count</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @rtypes.each do |rtype| %>
      <tr>
	      <td><%= link_to rtype.name, rtype %></td>
	      <td><%= rtype.assets.length %></td>
        <td><%= rtype.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
	<% content_for :sidebar do %>
		<li><%= link_to "New Asset Type", new_rtype_path %></li>
	<% end %>
<% end %>	
