<h1>Reporting</h1>

<table class="table">
    <tr>
        <td><%= link_to "Ticket Submissions & Completions", report_submissions_path, :class => 'btn btn-block btn-danger' %></td>
        <td><%= link_to "Comments", report_comments_path, :class => 'btn btn-block btn-danger' %></td>
    </tr>
</table>
