<h1>New Asset</h1>
<% if @asset.errors.count > 0 %>
    <% @asset.errors.full_messages.each do |m| %>
        <div class="alert alert-warning"><%= m %></div>
    <% end %>
<% end %>
<%= render :partial => 'form' %>
